* {
    margin: 0;
	padding: 0;
}
.black {
 background-color: rgb(255, 255, 255);
 width: 80px;
 margin: 1px 2px;
 padding-top: 5px;
 padding-bottom: 5px;
 border: 1px ridge grey;
 font-size: 16px;
 font-family: system-ui;
 text-align: center;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 box-sizing: border-box;
}